---
import GithubLink from "./GithubLink.astro";
import LivePreviewLink from "./LivePreviewLink.astro";
import ArrowLeft from "./ArrowLeft.astro";
import ArrowRight from "./ArrowRight.astro";
import CarouselDots from "./CarouselDots.astro";

const projects = [
  {
    image:
      "https://www.frontendmentor.io/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdz209s6jk%2Fimage%2Fupload%2Fv1564914816%2FChallenges%2Ftjmihf4uv326gkkz7mbk.jpg&w=384&q=75",
    title: "Project 1",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
    repository: "https://github.com/PiotrPlotast",
    livePreview: "https://www.google.com",
  },
  {
    image:
      "https://www.frontendmentor.io/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdz209s6jk%2Fimage%2Fupload%2Fv1652196092%2FChallenges%2Fbnjpxmx9fudsmerfj6eo.jpg&w=384&q=75",
    title: "Project 2",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
    repository: "https://github.com/PiotrPlotast",
    livePreview: "https://www.google.com",
  },
  {
    image:
      "https://www.frontendmentor.io/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdz209s6jk%2Fimage%2Fupload%2Fv1554894929%2FChallenges%2Fqjiprcu1e19yvujjrflv.jpg&w=384&q=75",
    title: "Project 3",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
    repository: "https://github.com/PiotrPlotast",
    livePreview: "https://www.google.com",
  },
];
---

<div class="carousel">
  {
    projects.map((project) => (
      <div class="carousel__project">
        <img
          src={project.image}
          alt="image showing the project"
          class="object-cover mx-auto rounded-lg shadow-lg"
        />
        <h3 class="text-center py-4 font-bold text-xl">{project.title}</h3>
        <p class="text-center">{project.description}</p>
        <div class="flex justify-around my-4">
          <GithubLink repository={project.repository} />
          <LivePreviewLink livePreview={project.livePreview} />
        </div>
      </div>
    ))
  }
  <div class="pt-4 flex justify-around">
    <ArrowLeft />
    <CarouselDots />
    <ArrowRight />
  </div>
</div>
<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("carousel__project");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" !bg-blue-500", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " !bg-blue-500";
  }

  function prevSlide() {
    plusSlides(-1);
  }

  function nextSlide() {
    plusSlides(1);
  }

  function selectSlide(n) {
    currentSlide(n);
  }

  const prevButton = document.querySelector(".prev");
  prevButton.addEventListener("click", prevSlide);

  const nextButton = document.querySelector(".next");
  nextButton.addEventListener("click", nextSlide);

  const dots = document.querySelectorAll(".dot");
  dots.forEach((dot, index) => {
    dot.addEventListener("click", () => {
      selectSlide(index + 1);
    });
  });
  setInterval(() => {
    nextSlide();
  }, 4000);
</script>
